:root {
  --dark: hsl(223, 9%, 15%);
  --faded: hsl(0, 0%, 45%);
  --light: hsl(0, 0%, 100%);
  --primary: hsl(221, 100%, 55%);

  --title: 4rem;
  --subtitle: 3.2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light);
}
h1 {
  font-size: var(--title);
}
h2 {
  font-size: var(--subtitle);
}
img {
  width: 100%;
}
.btn {
  background-color: var(--primary);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
}
.btn:hover {
}
p {
  line-height: 1.3;
  padding-bottom: 1rem;
}
nav ul,
nav ul div {
  display: flex;
  background-color: var(--dark);
  height: 2rem;
  align-items: center;
}
nav ul {
  justify-content: space-between;
}
nav ul div {
  gap: 1rem;
  padding-right: 1rem;
}
nav ul li a {
  color: var(--light);
  text-decoration: none;
  transition: all 0.2s;
}
nav ul li a:hover{
  color: var(--primary);
  text-decoration: underline;
}
.nav--logo {
  padding-left: 1rem;
}
.title {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  color: var(--light);
}
.--colored {
  font-weight: bold;
  background: linear-gradient(
    to right,
    var(--primary) 20%,
    #00affa 30%,
    #d919ff 70%,
    var(--primary) 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}
.--centered {
  text-align: center;
}
.--dark {
  color: var(--dark);
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.container {
  width: 80%;
  margin: auto;
}
header {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 10rem;
  line-height: 1.3;
  align-items: center;
}
.header__info {
  width: 70%;
}
.header__info p {
  width: 80%;
}
.header__image {
  width: 30%;
}
.projecten {
  background-color: var(--primary);
  height: 50vh;
}
.slider {
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: transparent;
  width: 80%;
  margin: auto;
}
.slider__item {
  width: 25%;
  display: inline-grid;
  padding: 10px;
  margin: 5px;
  color: var(--primary);
  background-color: var(--light);
  border-radius: 15px;
  max-width: 320px;
}
.slider__title {
  font-size: 2.1rem;
  font-weight: 600;
}
.slider__text {
  color: var(--dark);
}
.slider__img {
  height: 10rem;
  width: 80%;
  margin: auto;
  object-fit: contain;
  padding-top: 10px;
}
.student {
  margin-top: 7rem;
  display: flex;
  padding-bottom: 10rem;
}
.animation {
  display: flex;
  align-items: center;
  width: 50%;
}
.student-content {
  width: 50%;
}
.lottie-player {
  margin-left: auto;
}
footer {
  background-color: var(--dark);
}
.footer-container{
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
ul {
  list-style: none;
}
.footer {
  background-color: var(--dark);
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--primary);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: var(--primary);
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
